@font-face {
							
	font-family: CodeNext;
							
	font-display: swap;
							
	src: url("../fonts/CodeNext-Trial-BlackItalic.woff2") format("woff2");
							
	font-weight: 400;
							
	font-style: normal;
							
}
@font-face {
							
	font-family: VeganStylePersonalUse;
							
	font-display: swap;
							
	src: url("../fonts/VeganStylePersonalUse-5Y58.woff2") format("woff2");
							
	font-weight: 400;
							
	font-style: normal;
							
}
@font-face {
							
	font-family: CodeNext;
							
	font-display: swap;
							
	src: url("../fonts/CodeNext-Trial-Black.woff2") format("woff2");
							
	font-weight: 400;
							
	font-style: normal;
							
}
@font-face {
							
	font-family: Yagora;
							
	font-display: swap;
							
	src: url("../fonts/Yagora.woff2") format("woff2");
							
	font-weight: 400;
							
	font-style: normal;
							
}
